services:
  app:
    build: .
    container_name: gateway-app
    ports:
      - '${THIS_PORT}:${THIS_PORT}'
    environment:
      THIS_HOST: ${THIS_HOST}
      THIS_PORT: ${THIS_PORT}
      PAYMENT_HOST: ${PAYMENT_HOST}
      PAYMENT_PORT: ${PAYMENT_PORT}
      PAYMENT_HANDLER_PREFIX: ${PAYMENT_HANDLER_PREFIX}
      PAYMENT_WEBHOOK_PREFIX: ${PAYMENT_WEBHOOK_PREFIX}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_PREFIX: ${DATABASE_PREFIX}
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6378:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  redis_data: