services:
  backend:
    build: .
    container_name: gateway-backend
    ports:
      - '${THIS_PORT}:${THIS_PORT}'
    environment:
      THIS_HOST: ${THIS_HOST}
      THIS_PORT: ${THIS_PORT}
      PAYMENT_HOST: ${PAYMENT_HOST}
      PAYMENT_PORT: ${PAYMENT_PORT}
      PAYMENT_HANDLER_PREFIX: ${PAYMENT_HANDLER_PREFIX}
      PAYMENT_WEBHOOK_PREFIX: ${PAYMENT_WEBHOOK_PREFIX}
      DATABASE_HOST: ${DATABASE_HOST}
      DATABASE_PORT: ${DATABASE_PORT}
      DATABASE_PREFIX: ${DATABASE_PREFIX}
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - gateway-network

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6378:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 30s
      timeout: 10s
      retries: 5
    networks:
      - gateway-network

  gateway:
    image: nginx:latest
    container_name: gateway-nginx
    restart: unless-stopped
    ports:
      - "8443:8443"  # HTTPS порт
      - "8080:8080"  # HTTP порт
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - backend
    networks:
      - gateway-network

networks:
  gateway-network:
    driver: bridge

volumes:
  redis_data: